body {
  font-size: 17px;
  background-color: #e8f5e9;
  color: #43a047;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

div {
  width:300px;
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 15px;
}

a {
  color: #43a047;
}

.zai {
  font-size: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
