body {
  font-size: 17px;
  background-color: #e8f5e9;
  color: #43a047;
  font-family: 'Nunito', sans-serif;
  width: inherit;
  align-content: center;
}

div {
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
}
