body {
  background-color: #e8f5e9;
  color: #43a047;
  font-family: 'Nunito Sans', sans-serif;
}

p {
  margin-top: 15px;
}

a {
  color: #43a047;
}

.a {
  font-size: 19px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.b {
  font-size: 17px;
  width: inherit;
  align-content: center;
}

.c {
  width:300px;
  margin: 0px;
  padding: 0px;
}

.d {
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.zai {
  font-size: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.fa-apple {
  padding-bottom: 2px;
}
